/* PUT STYLES HERE */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
#mainContainer {
display: flex;
flex: 1 0 0;
flex-direction: column;
height: 100vh;
width: 100vw;
align-items: center;
}

#headerContainer {
  margin: 10px;
  display: flex;
  flex: 1 0 0;;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#headerContainer h1 {
  display: flex;
  flex-direction: row;
  color: White;
  margin: 10px;
  font-size: 6vw;
}
#headerContainer p {
  display: flex;
  flex-direction: row;
  color: White;
  margin: 10px;
  font-size: 4vw;
}
#scoreContainer {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#scoreContainer h2 {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 5vw;
}
#scoreContainer div {
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
.points {
  fill: white;
  height: 40px;
  width: 40px;
}
#gameContainer {
  margin-bottom: 20px;
  display: flex;
  flex: 1;
}

#grid {
  width: 50vh;
  height: 50vh;
}

//target edge for grid sizing
@supports (-ms-ime-align: auto) {
  #grid {
    width: 54vh;
    height: 54vh;
  }
  svg {
    height: 5vh;
    width: 5vh;
    padding: 0;
    margin: 0px;
  }
}

@-moz-document url-prefix() {
  #grid {
    height: 52vh;
    width: 52vh;
    }
    svg {
      height: 5vh;
      width: 5vh;
      padding: 0;
      margin: 0;
    }
  }

  svg {
    height: 5vh;
    width: 5vh;
    padding: 0;
    margin: 0;
  }
  
.svgDown {
  transform: rotate(0turn);
}
.svgRight {
  transform: rotate(0.25turn);
}
.svgUp {
  transform: rotate(0.5turn);
}
.svgLeft {
  transform: rotate(0.75turn);
}

#winScreen {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 560px;
  background-color: black;
}
#winScreen h1 {
  color: white;
}

@media(min-height: 1000px) and (orientation: portrait){
  #gameContainer {
    width: 100%;
    height: auto;
  }
  #grid {
    height: 100vw;
    width: 100%;
  }
  svg {
    height: 9.5vw;
    width: 9.5vw;
  }
}

@media(max-width: 640px ) {
  .points {
    fill: white;
    height: 30px;
    width: 30px;
  }
}
