/* PUT STYLES HERE */

.svgContainer {
    width: 10em;
    height: 10em;
}

.smallSvg {
    height: 3em;
    width: 3em;
}

svg {
    width: inherit;
    height: inherit;
    animation: inherit;
}

.overlayBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.35);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadein 1s 
}

@keyframes fadein {

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1em;
    background-color:white; 
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 35%;
    min-height: 200px;
}

.bounce {
    display: flex;
    justify-content: center;
    animation: bounce 0.5s infinite;
    animation-direction: alternate-reverse;
}

@keyframes bounce {
    from {
        transform: translateY(0px)
    }

    to{
        transform: translateY(-12px);
    }
}

.preview{
    display: flex;
    justify-content: center;
    animation: preview 1s infinite;
    animation-direction: alternate;
}

@keyframes preview {
    0% {
        transform: translateX(-15px);
        fill: green;
    }

    100% {
        transform: translateX(15px);
        fill: blue;
    }
}
// button style borrowed from https://codepen.io/simonbusborg/pen/cyxad
button {
    color: #FFFFFF;
    background: #161616;
    display: flex;
    overflow: hidden;
    margin-top: 0.8em;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    width: 100%;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
  
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
  
    -webkit-appearance: none;
    -moz-appearance:    none;
   
    justify-content: center;
    align-items: center;
    
  
    &:hover {
      transition: all 150ms linear;
  
      opacity: .85;
    }
    
    &:active {
      transition: all 150ms linear;
      opacity: .75;
    }
    
     &:focus {
      outline: 1px dotted white;
      outline-offset: -4px;
    }
}

@keyframes color {
    0% {
        fill: black;
        opacity: 0.8;
    }

    50% {
        fill: red;
        opacity: 0.3;
    }

    100% {
        fill: black;
        opacity: 0.8;
    }
}
.gameContainer {
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.75);;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.scored {
    opacity: 0.6;
}
.dead {
    display: flex;
    justify-content: center;
    animation: dead 2s infinite;
    animation-direction: alternate-reverse;
    fill: red;
}

@keyframes dead {
   to{
       transform: rotate(70deg);
   }
   from{
       transform: rotate(110deg)
   }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #24292e;
    color: rgba(255,255,255,0.75);
    padding: 0.3em;
}

.icond {
    opacity: 0.4;
}

.icon {
    font-size: 32px
}

.card h1{
    font-weight: 900;
}
@media screen and (max-width: 980px) {
    .smallSvg {
        height: 2em;
        width: 2em;
    }
    h1 {
        font-size: 1.5em;
    }
    .icon {
        font-size: 24px
    }
}

@media screen and (max-width: 520px) {
    .smallSvg {
        height: 1.5em;
        width: 1.5em;
    }
    h1 {
        font-size: 1.0em;
    }
    .icon {
        font-size: 16px
    }
}    