.name {
  color: darken(#f4f9ff, 60%);
  font-size: 0.8rem;
  padding: 8px 12px;
  line-height: 1;
  display: block;
  text-transform: uppercase;

  &:last-child {
    text-align: right;
  }
}

.score {
  color: darken(#f4f9ff, 60%);
  font-size: 2rem;
  padding: 1rem;

  .icon {
    opacity: 0.15;

    &.on {
      color: #fb713f;
      opacity: 1;
    }
  }

  &:last-child {
    text-align: right;
  }

  @media only screen and (max-width: 900px) {
    font-size: 1.4rem;
    padding: 0.9rem;
  }
}
