.Board-piece {
  width: 100px;
  height: 100px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: grab;
}

.piece-wrapper {
  position: absolute;
}
