.Button {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background:#333;
}