/* ANIMATIONS  */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-left {
  -webkit-animation-name: animateLeft;
  -webkit-animation-duration: 1s;
  animation-name: animateLeft;
  animation-duration: 1s
}

.animate-right {
  -webkit-animation-name: animateRight;
  -webkit-animation-duration: 1s;
  animation-name: animateRight;
  animation-duration: 1s
}

.animate-down {
  -webkit-animation-name: animateDown;
  -webkit-animation-duration: 1s;
  animation-name: animateDown;
  animation-duration: 1s
}

.animate-up {
  -webkit-animation-name: animateUp;
  -webkit-animation-duration: 1s;
  animation-name: animateUp;
  animation-duration: 1s
}

@-webkit-keyframes animateLeft {
  from { left: 200%;}
  to { left: 0px;}
}

@keyframes animateLeft {
  from{ left: 200%;}
  to{ left:0;}
}

@-webkit-keyframes animateRight {
  from { right: 200%;}
  to { right: 0px;}
}

@keyframes animateRight {
  from{ right: 200%;}
  to{ right:0;}
}

@-webkit-keyframes animateDown {
  from { top: 200%;}
  to { top: 0px;}
}

@keyframes animateDown {
  from{ top: 200%;}
  to{ top:0;}
}

@-webkit-keyframes animateUp {
  from { bottom: 200%;}
  to { bottom: 0px;}
}

@keyframes animateUp {
  from{ bottom: 200%;}
  to{ bottom:0;}
}
